.create-book-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #8b75f3;
  padding-bottom: 10px;
}

.create-book-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #8b75f3;
  outline: none;
  background-color: #fff;
}

.submit-button {
  align-self: flex-start;
  padding: 12px 24px;
  background-color: #8b75f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #7a64dd;
}

/* update Book */
.update-book-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #8b75f3;
  padding-bottom: 10px;
}

.update-book-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
  font-size: 16px;
}

.form-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #8b75f3;
  outline: none;
  background-color: #fff;
}

.submit-button {
  align-self: flex-start;
  padding: 12px 24px;
  background-color: #8b75f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #7a64dd;
}
